@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

h1,h2 {
    font-family: "Manrope", "sans-serif";
}

p {
    font-family: "Rubik", "sans-serif";
}

a {
    font-family: "Rubik", "sans-serif";
    text-decoration: none;
    color: rgb(229, 229, 229);
}

li {
    font-family: "Rubik", "sans-serif";
}

/* ---------------- navigation ------------------- */

header {
    padding: 4rem;
    background-color: rgb(24, 24, 24);
    overflow: hidden;
}

.header-wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-wrap {
    padding: 0 4rem;
    background-color: rgb(24, 24, 24);
    overflow: hidden;
}

.space-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(164, 164, 164);
}

.cart-wrap {
    display: flex;
    z-index: 98;
    position: fixed;
    width: 2rem;
    flex-direction: column;
    top: 16px;
    right: 64px;
}

.cart-background {
    position: absolute;
    bottom: -6px;
    left: -5px;
    width: 2.7rem;
    height: 2.7rem;
    background-color: rgba(24, 24, 24, 0.721);
    border-radius: 4px;
}

.cart-wrap:hover {
    cursor: pointer;
}

.cart {
    width: 100%;
    filter: invert(1);
}

.cart-items {
    display: flex;
    font-family: "Rubik", "sans-serif";
    color:rgb(229, 229, 229);
    background-color: rgb(205, 120, 2);
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -1rem;
    border-radius: 100%;
}

.space-navlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
}

.logo {
    position: relative;
    margin-left: -2rem;
    width: 18rem;
}

.logo:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
    filter: invert(1);
}

nav {
    height: fit-content;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
}

/* --------------- mobile navigation --------------- */

.side-menu {
    position: fixed;
    top: 0;
    left: -80vw;
    background-color: rgb(241, 241, 241);
    z-index: 999;
    box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 60vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

@keyframes slideIn {
    from {
        left: -80vw;
        box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0);
    }
    to {
        left: 0;
        box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.4);
    }
}

@keyframes slideOut {
    from {
        left: 0;
        box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.4);
    }
    to {
        left: -80vw;
        box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0);
    }
}

.exit-menu {
    background-color: rgb(205, 120, 2);
    color: rgb(237, 237, 237);
    padding: 0.8rem 1rem;
    border: none;
    font-family: "Rubik", "sans-serif";
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.307);
    align-self: flex-end;
}

.exit-menu:hover {
    background-color: rgb(248, 141, 1);
    cursor: pointer;
}

.exit-menu:active {
    background-color: rgb(203, 115, 0);
}

.side-menu-nav {
    margin-top: 2rem;
}

.side-menu-nav li {
    display: block;
    padding: 1rem 0;
    border-top: 1px solid rgb(170, 170, 170);
}

#bottom-border {
    border-bottom: 1px solid rgb(170, 170, 170);
}

.side-menu-nav li a {
    color: rgb(50, 50, 50);
}

@media screen and (max-width: 1190px) {
    nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .nav-wrap {
        padding: 0 1rem;
    }
    .cart-wrap {
        top: 16px;
        right: 36px;
    }
}

@media screen and (max-width: 900px) {
    .space-navlogo {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .space-navlogo {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        position: relative;
        margin-left: -2rem;
        width: 13rem;
    }
    .space-cart {
        height: 90px;
    }
    .hamburger {
        width: 2.5rem;
    }
    header {
        padding: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .space-navlogo {
        width: 83%;
    }
}

/* ---------------- footer ------------------- */

footer {
    padding: 0 4rem 3rem 4rem;
    background-color: rgb(24, 24, 24);
}

.footer-wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.cool-line {
    height: 3px;
    width: 6rem;
    background-color: rgb(205, 120, 2);
    margin-bottom: 3rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.note {
    color: rgb(164, 164, 164);
    max-width: 800px;
    margin-bottom: 3rem;
}

.footer-more {
    display: flex;
    justify-content: space-between;
    color: rgb(164, 164, 164);
}

.socials {
    position: relative;
    top: -2.5rem;
}

.socials img {
    padding: 0 0.2rem;
}

@media screen and (max-width: 800px) {
    footer {
        padding: 0 1rem 1rem 1rem;
        background-color: rgb(24, 24, 24);
    }
    .cool-line {
        margin-bottom: 2rem;
    }
    .footer-nav ul {
        display: none;
    }
    .footer-nav img {
        margin-left: -1rem;
        margin-bottom: 0;
        margin-top: -1.5rem;
    }
    .note {
        margin-top: -1.8rem;
    }
    .footer-more {
        flex-direction: column;
    }
    .footer-more p{
        position: relative;
        bottom: -1.5rem;
    }
    .socials {
        text-align: center;
    }
    .socials img {
        margin-left: 1rem;
    }
}



