@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,h2 {
    font-family: "Manrope", "sans-serif";
}

p {
    font-family: "Rubik", "sans-serif";
}

a {
    font-family: "Rubik", "sans-serif";
    text-decoration: none;
    color: rgb(229, 229, 229);
}

li {
    font-family: "Rubik", "sans-serif";
}

/* ---------------- navigation ------------------- */

.nav-wrap {
    padding: 0 4rem;
    background-color: rgb(24, 24, 24);
}

.space-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(164, 164, 164);
}

.cart-wrap {
    display: flex;
    width: 2rem;
    flex-direction: column;
}

.cart {
    width: 100%;
    filter: invert(1);
}

.cart-items {
    display: flex;
    font-family: "Rubik", "sans-serif";
    color:rgb(229, 229, 229);
    background-color: rgb(205, 120, 2);
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -1rem;
    border-radius: 100%;
}

.space-navlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
}

.logo {
    position: relative;
    margin-left: -2rem;
    width: 18rem;
}

nav {
    height: fit-content;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
}

/* ---------------- header ------------------- */

header {
    padding: 4rem;
    background-color: rgb(24, 24, 24);
    overflow: hidden;
}

.header-wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------------- footer ------------------- */

footer {
    padding: 0 4rem 3rem 4rem;
    background-color: rgb(24, 24, 24);
}

.footer-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.cool-line {
    height: 3px;
    width: 6rem;
    background-color: rgb(205, 120, 2);
    margin-bottom: 3rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.note {
    color: rgb(164, 164, 164);
    max-width: 800px;
    margin-bottom: 3rem;
}

.footer-more {
    display: flex;
    justify-content: space-between;
    color: rgb(164, 164, 164);
}

.socials {
    position: relative;
    top: -2.5rem;
}

.socials img {
    padding: 0 0.2rem;
}