header {
    padding: 4rem;
    background-color: rgb(24, 24, 24);
    overflow: hidden;
}

.header-wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrap h1 {
    color: rgb(205, 205, 205);
    margin: 0 auto;
}

.products-wrap {
    padding: 0 4rem;
}

.products {
    display: grid;
    margin: 0 auto;
    margin: 4rem auto;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.product {
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 0.4rem;
}

.product:hover img {
    transform: scale(1.05);
}

.product img {
    transition: all 0.5s;
}

.product-text {
    position: absolute;
    max-width: 400px;
    left: 3rem;
    bottom: 3rem;
    overflow: hidden;
    padding-bottom: 2rem;
}

.product-text h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.416);
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.product-text p {
    margin-bottom: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.416);
    padding: 1rem;
}

.btn-hollow {
    padding: 0.8rem 1rem;
    border: 2px solid white;
    background-color: rgba(248, 141, 1, 0.764);
    transition: all 0.3s;
    color: white;
}

.btn-hollow:hover {
    background-color: rgb(248, 141, 1);
}

@media screen and (max-width: 1320px) {
    .products-wrap {
        padding: 0 1rem;
    }
    .products {
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
    }
}

@media screen and (max-width: 600px) {
    .products {
        gap: 1rem;
    }

    .product-text {
        position: absolute;
        width: 80%;
        left: 1rem;
        bottom: 0.2rem;
        overflow: hidden;
        padding-bottom: 2rem;
    }
    header {
        padding: 2rem;
    }
}