
.header-wrap h1 {
    color:rgb(208, 208, 208);
    margin: 0 auto;
}

.product-wrap {
    position: relative;
    max-width: 1200px;
    margin: 3rem auto;
}

.back {
    color:rgb(97, 97, 97);
}

.back-arrow {
    transform: rotate(180deg);
}

.product {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.product-img {
    width: 500px;
    height: 600px;
    background-color: rgb(232, 232, 232);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 3rem;
    position: relative;
    overflow: hidden;
}

#overlay-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(91, 91, 91, 0.338);
    font-size: 1.5rem;
    color:rgb(237, 237, 237);
}



.smaller-box {
    height: 450px;
}

.product-img img {
    height: 100%;
    display: flex;
    margin: 0 auto;
    transition: all 0.5s;
}

.product-img-synth {
    height: auto !important;
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto !important;
}

.product-img:hover img {
    transform: scale(1.1);
}

.product-img:hover {
    cursor: zoom-in;
}

.product-info {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info h1 {
    margin-bottom: 2rem;
}

.about-product {
    margin-bottom: 2rem;
}

.price {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.add-amount {
    display: flex;
    justify-content: space-between;
    max-width: 220px;
}

.amount {
    background-color: rgb(232, 232, 232);
    text-align: center;
    height: 3.3rem;
    width: 4rem;
    border: none;
    font-family: "Rubik", "sans-serif";
}

.add-to-cart {
    background-color: rgb(205, 120, 2);
    color: rgb(237, 237, 237);
    padding: 1rem;
    border: none;
    font-family: "Rubik", "sans-serif";
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: rgb(248, 141, 1);
    cursor: pointer;
}

.add-to-cart:active {
    background-color: rgb(203, 115, 0);
}

.features {
    margin-bottom: 3rem;
}

.features h2 {
    margin-bottom: 2rem;
}

.features ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1rem;
}

.features ul li {
    font-family: "Rubik", "sans-serif";
    text-transform: none;
    margin-bottom: 0.5rem;
    display:list-item;
}

.re-title {
    text-align: center;
    margin-bottom: 2rem;
}

.re-products-wrap {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.re-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-bottom: 3rem;
}

.re-product-img {
    width: 300px;
    background-color: rgb(232, 232, 232);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.re-product-img img {
    display: flex;
    margin: 0 auto;
}

@media screen and (min-width: 1130px) {
    .re-product-img img {
        height: 100%;
    }
    .re-product-img {
        height: 300px;
    }
    .re-product {
        height: 450px;
    }
}

.re-product-img-synth{
    width: 90%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

@media screen and (min-width: 1130px) {
    .re-product-img-synth {
        height: auto !important;
        margin: auto !important;
    }
}

.re-product-name {
    text-align: center;
    color: rgb(83, 83, 83);
    margin-bottom: 0.3rem;
}

.see-product {
    margin-top: auto;
}

.story {
    padding: 0 4rem;
}

.story-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto 4rem auto;
    max-width: 1200px;
    gap: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 4rem 4rem 0;
}

.story-text h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    color:rgb(29, 29, 29);
}

.story-text span {
    color: rgb(205, 120, 2);
}

.story-text p {
    color: rgb(103, 103, 103);
    font-size: 1.1rem;
}

.story-img {
    overflow: hidden;
    border-radius: 0.5rem;
}

.story-img img {
    height: 100%;
    margin-left: -20rem;
}

.pswp__counter {
    font-family: "Rubik", "sans-serif";
}


@media screen and (max-width: 1400px) {
    .product {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .product-img {
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pswp-gallery {
        width: 100%;
    }
    .product-wrap {
        padding: 0 4rem;
    }
    .product-info {
        margin-right: auto;
    }
}

@media screen and (max-width: 1130px) {
    .re-products-wrap {
        flex-direction: column;
        align-items: center;
    }
    .re-product-img {
        width: 100%;
        height: 500px;
        padding: 2rem;
    }
    .re-product-img-synth {
        height: 100%;
        width: auto;
        position: static;
        left: 0;
        right: 0;
    }
    .re-product {
        width: 100%;
        max-width: none;
    }
    .re-price {
        margin-bottom: 0.8rem;
        font-size: 1.2rem;
    }
    .re-products-wrap {
        gap: 0;
    }
    .re-product-img img {
        height: 100%;
    }
}

@media screen and (max-width: 920px) {
    .re-product-img-synth {
        width: 100%;
        height: auto !important;
    }
    .re-product-img {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 830px) {
    .pswp-gallery {
        width: 100%;
    }
    .product-img {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .re-product-img {
        height: 400px;
    }
    .product-wrap {
        padding: 0 1rem;
    }
    .re-product {
        margin-bottom: 2rem;
    }
    .add-amount {
        left:0;
        right: 0;
        margin: 0 auto;
        gap: 2rem;
    }
    .price {
        left:0;
        right: 0;
        margin: 0 auto 1rem;
    }
    .product {
        margin: 1.5rem 0;
    }
    .features h2 {
        margin-bottom: 1.2rem;
    }
    .features {
        margin-bottom:  2rem;
    }
    .product-wrap {
        margin: 1.5rem 0;
    }
    .smaller-box {
        height: 400px !important;
    }
}

@media screen and (max-width: 420px) {
    .re-product-img {
        height: 300px;
    }
}

@media screen and (max-width: 1190px) {
    .story-wrap {
        display: flex;
        flex-direction: column-reverse;
        margin: -2rem auto 1rem auto;
        gap: 1rem;
    }
    .story {
        padding: 0 1rem;
    }
    .story-text {
        padding: 0 1rem 2rem;
    }
    .story-text h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .story-img img {
        margin-bottom: -4px;
    }
}

@media screen and (max-width: 480px) {
    .story-img img {
        height: 300px;
        margin-left: -15rem;
    }
}
